<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    {{>header}}
    <div>
        <p>{{content}}</p>
        <form>
            <input placeholder="location" class="searchitem"/>
            <button class="btn">search</button>
         </form>
         <h2 style="color:blueviolet">Weather Details</h2>
         <div>
            <p class="report"></p>
         </div>
    </div>
    {{>footer}}
    </div>
    <script src="/js/index.js"></script>
</body>
</html>